parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/PurgeExpiredResponses.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$submitted_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/PurgeExpiredResponses.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:purge\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/PurgeExpiredResponses.php

		-
			message: '#^Method App\\Http\\Controllers\\Auth\\MicrosoftAuthController\:\:redirect\(\) should return Illuminate\\Http\\RedirectResponse but returns Symfony\\Component\\HttpFoundation\\RedirectResponse\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/Auth/MicrosoftAuthController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$avatar\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/FormController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/FormController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/FormController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$fields\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/FormController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Controllers/FormController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/FormController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/FormController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:sections\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/FormController.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/FormController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Form\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/FormController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 2
			path: app/Http/Controllers/FormController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: array\{id\: int, user\: array\{id\: mixed, name\: mixed, email\: mixed, avatar\: mixed\}\}, Closure\(App\\Models\\FormShare\)\: array\{id\: int, user\: array\{id\: mixed, name\: mixed, email\: mixed, avatar\: mixed\}\} given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/FormController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$file_path\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/FormResponseController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$form\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/FormResponseController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/FormResponseController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/FormResponseController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$value\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/FormResponseController.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\HigherOrderCollectionProxy\<string, Illuminate\\Database\\Eloquent\\Model, Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\>\:\:isInput\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/FormResponseController.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/FormResponseController.php

		-
			message: '#^Parameter \#1 \$boolean of function abort_unless expects bool, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/FormResponseController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: array\{field_id\: int\<0, max\>, value\: string\|null, file_name\: string\|null, file_size\: int\<0, max\>\|null, file_url\: string\|null\}, Closure\(App\\Models\\Answer\)\: array\{field_id\: int\<0, max\>, value\: string\|null, file_name\: string\|null, file_size\: int\<0, max\>\|null, file_url\: string\|null\} given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/FormResponseController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: array, Closure\(App\\Models\\Response\)\: array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/FormResponseController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\LazyCollection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: mixed, Closure\(App\\Models\\Response\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/FormResponseController.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\HigherOrderTapProxy\<Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Eloquent\\Model\>\:\:update\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/FormStructureController.php

		-
			message: '#^Offset ''conditions'' on string\|null in empty\(\) does not exist\.$#'
			identifier: empty.offset
			count: 1
			path: app/Http/Controllers/FormStructureController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: mixed, Closure\(App\\Models\\FormField\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/FormStructureController.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: app/Http/Controllers/FormStructureController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/PublicFormController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$fields\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/PublicFormController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/PublicFormController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/PublicFormController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/PublicFormController.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\HigherOrderCollectionProxy\<string, Illuminate\\Database\\Eloquent\\Model, Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\>\:\:purge\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Form.php

		-
			message: '#^Cannot call method isPast\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Form.php

		-
			message: '#^Parameter \#2 \$default of static method App\\Models\\Setting\:\:get\(\) expects string\|null, int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Form.php

		-
			message: '#^Method App\\Models\\FormField\:\:evaluateCondition\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: app/Models/FormField.php

		-
			message: '#^Offset ''conditions'' on non\-falsy\-string in empty\(\) does not exist\.$#'
			identifier: empty.offset
			count: 1
			path: app/Models/FormField.php

		-
			message: '#^Offset ''mode'' on non\-falsy\-string in empty\(\) does not exist\.$#'
			identifier: empty.offset
			count: 1
			path: app/Models/FormField.php

		-
			message: '#^Result of \|\| is always true\.$#'
			identifier: booleanOr.alwaysTrue
			count: 2
			path: app/Models/FormField.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: app/Models/FormField.php

		-
			message: '#^Cannot call method isPast\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/RespondentVerification.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$file_path\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Response.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 9
			path: app/Services/FormSubmissionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$label\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/FormSubmissionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$required\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/FormSubmissionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$type\.$#'
			identifier: property.notFound
			count: 4
			path: app/Services/FormSubmissionService.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:answers\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Services/FormSubmissionService.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isInput\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: app/Services/FormSubmissionService.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isVisible\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Services/FormSubmissionService.php

		-
			message: '#^Method App\\Services\\FormSubmissionService\:\:store\(\) should return App\\Models\\Response but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Services/FormSubmissionService.php
